<app-player color="blue" (positionChange)="onPositionChange('p1', $event)" (routeChange)="onRouteChange('p1', $event)"></app-player>
<app-player color="green" (positionChange)="onPositionChange('p2', $event)" (routeChange)="onRouteChange('p2', $event)"></app-player>

<div>{{routes$ | async | json}}</div>
<hr>
<div>{{markers$ | async | json}}</div>

<!--
<button mat-stroked-button color="primary" (click)="start()">Start</button>
<button mat-stroked-button color="warn" (click)="reset()">Reset</button>
<app-read-file (readFile)="handleFile($event)"></app-read-file>
<app-read-file (readFile)="handleFile($event)"></app-read-file> -->

<div style="height: 500px;" leaflet [leafletOptions]="options" [leafletLayers]="routes$ | async" [leafletCenter]="center$ | async">
    <div [leafletLayers]="markers$ | async"></div>
</div>

<router-outlet></router-outlet>